<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="../mdl/icon?family=Material+Icons">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./mdl/material.min.css">
    <link rel="stylesheet" href="./css/mashed.css">
    <script defer src="./mdl/material.min.js"></script>
    <script src="./js/jquery-3.1.1.js" ></script>
    <script src="./js/custom.js"></script>
    <script src="./js/mashed.js"></script>

</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">
              Mashed
            </span>
            <span class="dp">
                <img src="" class="profile" id="profile-pic">
            </span>
            </div>

        <div class="mdl-layout__header-row">
            <div class="docs-navigation__container">
                <div class="docs-navigation mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/mashed">Mashup</a>
                    <a class="mdl-navigation__link" href="/rating">View Ratings</a>
                    <!--<a class="mdl-navigation__link" href="/upcoming">Upcoming Events</a>-->
                    <!--<a class="mdl-navigation__link" href="/new">New Event</a>-->
                    <a class="mdl-navigation__link" href="/about">About</a>
                    <a class="mdl-navigation__link" href="/contact">Contact Us</a>
                    <div class="mdl-layout-spacer"></div>
                </nav>
            </div>
        </div>

    </header>


    <div class="mdl-layout__drawer ">
        <span class="mdl-layout__title">

        </span>
        <nav class="mdl-navigation">
            <img src="" class="profile" id="dp">
            <a class="mdl-navigation__link" href="/mashed">Mashup</a>
            <a class="mdl-navigation__link" href="/rating">View Ratings</a>
            <a class="mdl-navigation__link" href="/upcoming">Upcoming Events</a>
            <a class="mdl-navigation__link" href="/new">New Event</a>
            <a class="mdl-navigation__link" href="/about">About</a>
            <a class="mdl-navigation__link" href="/contact">Contact Us</a>
            <a class="mdl-navigation__link" href="/logout">Logout</a>
        </nav>
    </div>


     <div class="con">


          <div class="dislike mdl-js-button mdl-button--raised flex">

                <img class="ch" src="../assets/dislike.png">
            </div>


         <!--Card start -->
        <div class="set-width">
                {{#if objectId}}
                    <div class="mdl-card card flex mdl-shadow--4dp" data-id = {{objectId}} >
                {{else}}
                <div class="mdl-card card flex mdl-shadow--4dp" data-id = "" >
                {{/if}}


                <div class="mdl-card__title">
                    {{#if Name}}
                    <h2 class="mdl-card__title-text">{{Name}}</h2>
                    {{else}}
                        <h2 class="mdl-card__title-text">Sorry No Events Left</h2>
                    {{/if}}

                </div>
            {{#if ImageUrl}}
                <div class="mdl-card__media">

                    <img src="{{ImageUrl}}" class="event-img">



                </div>
            {{/if}}
                <div class="mdl-card__supporting-text">
                    {{#if description}}
                    {{description}}
                    {{else}}
                        "Sorry, no more events left. you have rated all the events"
                    {{/if}}


                </div>
            {{#if fb_url}}
                <div class="mdl-card__actions">


                    <a href="{{fb_url}}" height = "150px" width="150px" target="_blank" id="url">FB Page</a>

          
                </div>
            {{/if}}
            </div>
        </div>

                <!--<div >yay , You have voted for all the events</div>-->

        <!--card finish -->
        <div class="like mdl-js-button mdl-button--raised flex">
            <img class="ch" src="../assets/likes.png">
        </div>
    </div>

    <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button type="button" class="mdl-snackbar__action"></button>
    </div>

</div>

    </div>


</body>
</html>
