<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>After Mash</title>

    <!--favicon icon added-->
    <link rel="icon" type="image/png" href="../assets/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../assets/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="../assets/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="../assets/icon/favicon-16x16.png" sizes="16x16" />

    <!--<link rel="stylesheet" href="../mdl/icon?family=Material+Icons">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./mdl/material.min.css">
    <link rel="stylesheet" href="./css/mashed.css">
    <script defer src="./mdl/material.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="./js/custom.js"></script>

    <!--Google Analyics-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88940377-2', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">
              After Mashed
            </span>
            <span class="dp">
                <img src="" class="profile" id="profile-pic">
            </span>
            </div>

        <div class="mdl-layout__header-row">
            <div class="docs-navigation__container">
                <div class="docs-navigation mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/mashed">Mashup</a>
                    <a class="mdl-navigation__link" href="/rating">View Ratings</a>
                    <a class="mdl-navigation__link" href="/upcoming">Upcoming Events</a>
                    <!--<a class="mdl-navigation__link" href="/newevent">New Event</a>-->
                    <a class="mdl-navigation__link" href="/about">About</a>
                    <a class="mdl-navigation__link" href="/contact">Contact Us</a>
                    <div class="mdl-layout-spacer"></div>
                </nav>
            </div>
        </div>

    </header>


    <div class="mdl-layout__drawer ">
        <span class="mdl-layout__title">

        </span>
        <nav class="mdl-navigation">
            <img src="" class="profile" id="dp">
            <a class="mdl-navigation__link" href="/mashed">Mashup</a>
            <a class="mdl-navigation__link" href="/rating">View Ratings</a>
            <a class="mdl-navigation__link" href="/upcoming">Upcoming Events</a>
            <!--<a class="mdl-navigation__link" href="/new">New Event</a>-->
            <a class="mdl-navigation__link" href="/about">About</a>
            <a class="mdl-navigation__link" href="/contact">Contact Us</a>
            <a class="mdl-navigation__link logout" href="/logout">Logout</a>
        </nav>
    </div>


     <div class="con">


          <div class="dislike mdl-js-button mdl-button--raised flex">

                <img class="ch" src="../assets/dislike.png">
            </div>


         <!--Card start -->
        <div class="set-width">
                {{#if objectId}}
                    <div class="mdl-card card flex mdl-shadow--4dp" data-id = {{objectId}} >
                {{else}}
                <div class="mdl-card card flex mdl-shadow--4dp" data-id = "" >
                {{/if}}


                <div class="mdl-card__title">
                    {{#if Name}}
                    <h2 class="mdl-card__title-text">{{Name}}</h2>
                    {{else}}
                        <h2 class="mdl-card__title-text">Sorry No Events Left</h2>
                    {{/if}}

                </div>
            {{#if ImageUrl}}
                <div class="mdl-card__media">
                    <img src="{{ImageUrl}}" class="event-img">
                </div>
            {{/if}}
                <div class="mdl-card__supporting-text">
                    {{#if description}}
                    {{description}}
                    {{else}}
                        Yay you have voted for all our current events, come back soon for more events till then view events ratings in View Ratings Tab, you can also suggest events to add at
                        <a href="mailto:aftermashed@gmail.com?Subject=After%20Mash%20Contact" target="_top">aftermashed@gmail.com</a>
                    {{/if}}


                </div>
            {{#if fb_url}}
                <div class="mdl-card__actions">

                    <a href="{{fb_url}}" height = "150px" width="150px" target="_blank" id="url">FB Page</a>

                </div>
            {{/if}}
            <!--mobile  dislike button -->
            {{#if description}}
                        <div class="mdl-card__actions mdl-card--border  mobile" hidden>
                                                <span class="mobile-dislike">
                                         <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                             <span class="material-icons mdl-chip__contact mdl-color--accent mdl-color-text--white">thumb_down</span>
                                             Dislike
                                         </a>
                                     </span>
                            <!--mobile like button-->
                            <span class="mobile-like">
                                         <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                             <span class="material-icons mdl-chip__contact mdl-color--indigo mdl-color-text--white">thumb_up</span>
                                             Like
                                         </a>
                                     </span>
                   </div>
            {{/if}}
            </div>
        </div>

                <!--<div >yay , You have voted for all the events</div>-->

        <!--card finish -->
        <div class="like mdl-js-button mdl-button--raised flex">
            <img class="ch" src="../assets/likes.png">
        </div>
    </div>

    <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button type="button" class="mdl-snackbar__action"></button>
    </div>

</div>

    </div>

</body>
</html>
