<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>After Mash</title>

    <!--favicon icon added-->
    <link rel="icon" type="image/png" href="../assets/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../assets/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="../assets/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="../assets/icon/favicon-16x16.png" sizes="16x16" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./mdl/material.min.css">
    <link rel="stylesheet" href="./css/rating.css">

</head>
<body class="preload">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">
              Mashed
            </span>
            <span class="dp">
                <img src="" class="profile" id="profile-pic">
            </span>
        </div>

        <div class="mdl-layout__header-row">
            <div class="docs-navigation__container">
                <div class="docs-navigation mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/mashed">Mashup</a>
                    <a class="mdl-navigation__link" href="/rating">View Ratings</a>
                    <!--<a class="mdl-navigation__link" href="/upcoming">Upcoming Events</a>-->
                    <!--<a class="mdl-navigation__link" href="/new">New Event</a>-->
                    <a class="mdl-navigation__link" href="/about">About</a>
                    <a class="mdl-navigation__link" href="/contact">Contact Us</a>
                    <div class="mdl-layout-spacer"></div>
                </nav>
            </div>
        </div>

    </header>



<div class="mdl-layout__drawer ">
        <span class="mdl-layout__title">

        </span>
    <nav class="mdl-navigation">
        <img src="" class="profile" id="dp">
        <a class="mdl-navigation__link" href="/mashed">Mashup</a>
        <a class="mdl-navigation__link" href="/rating">View Ratings</a>
        <!--<a class="mdl-navigation__link" href="/upcoming">Upcoming Events</a>-->
        <!--<a class="mdl-navigation__link" href="/new">New Event</a>-->
        <a class="mdl-navigation__link" href="/about">About</a>
        <a class="mdl-navigation__link" href="/contact">Contact Us</a>
        <a class="mdl-navigation__link logout" href="/logout">Logout</a>
    </nav>
</div>

<div class="con">

    {{#each allEvents}}
            <div class="set-width">
                <div class="mdl-card card flex mdl-shadow--4dp" data-id = {{objectId}} >
                <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">{{Name}}</h2>
                </div>
                    <div class="mdl-card__media">
                        <img src="{{ImageUrl}}" class="event-img">
                    </div>

                <div class="mdl-card__supporting-text">
                        {{description}}
                </div>
                    <div class="mdl-card__actions mdl-card--border">

                        <span class="mdl-chip mdl-chip--contact">
                             <span class="material-icons mdl-chip__contact mdl-color--accent mdl-color-text--white">thumb_down</span>
                            <span class="mdl-chip__text">{{Dislikes}}  Dislikes</span>
                        </span>
                        <span class="mdl-chip mdl-chip--contact">
                             <span class="material-icons mdl-chip__contact mdl-color--indigo mdl-color-text--white">thumb_up</span>
                            <span class="mdl-chip__text">{{Likes}} Likes</span>
                        </span>
                        <!--<div class="material-icons mdl-badge mdl-badge--overlap" data-badge={{Likes}}>thumb_up</div>-->
                    </div>
            </div>
            </div>
    {{/each}}
    </div>
</div>


    <script defer src="./mdl/material.min.js"></script>
    <script src="./js/jquery-3.1.1.js" ></script>
    <script src="./js/custom.js"></script>
    <script src="./js/mashed.js"></script>
</body>
</html>